/* General */
$scale:14px;                    /* main font size */
$borderRadius:6px;             /* border radius of layout element e.g. card, sidebar */
$transitionDuration:.25s;        /* transition duration of layout elements e.g. sidebar, overlay menus */

$tooltipBg: var(--color-bg-hover);
